<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is the first app home page</h1>
    <h2>Author: {{ author }}</h2>
    <h2>Age: {{ age }}</h2>
    <h2>List: {{ lst }}</h2>

    <!-- Conditional statement -->
    {% if age >= 20 %}
        <h4>You will get a driving license</h4>
    {% elif age >= 10 and age <= 19 %}
        <h4>You will not get a driving license</h4>
    {% else %}
        <h4>You're a Child</h4>
    {% endif %}
  

    {% comment %} python django templete filter  {% endcomment %}
{% comment %} {{lst}} {% endcomment %}
<h1> {{ lst | join:" - " }}</h1>
<h1>date of birth: {{ birthday | date:"D d M Y" }}</h1>
{% comment %} filter empty string  {% endcomment %}
{% comment %} <h1>{{ ' ' | default: "nothing here" }}</h1> {% endcomment %}
<h1>{{"Python is Fun" | cut:" "}}</h1>

{% comment %} link  {% endcomment %}
{% comment %} https://earthly.dev/blog/django-template-filters/ {% endcomment %}

    {% comment %} for loop  {% endcomment %}

    {% for i in courses %}
    <h3>{{i.id}}, {{i.name}} , {{i.fee}} </h3>
    {% endfor %}

     
    
</body>
</html>

